#content{
    display: grid;
    align-content: stretch;
    grid-template-rows: 50px auto;
}

#content #title{
    grid-row: 1/1;
    grid-column: 1/1;
    justify-self: stretch;
    align-self: center;
}

#content #title h2{
    width: auto;
}

#content #wsg{
    align-self: stretch;
}