#header{
    /* item */
    color: black;
    background-color: deepskyblue;
    /* grid */
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}
#header>#title{
    /* item */
    align-self: stretch;
    /* item */
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 1em;
    margin: 5px;
}
#header>#title>#title-logo{
    align-self: stretch;
    max-height: 100%;
}
#header>#title>#title-logo>img{
    max-height: 100%;
    max-width: 40px;
}
#header #title-text{
    align-self: center;
    text-decoration: none;
    color: black;
}
#header #menu{
    /* item */
    align-self: center;
    /* grid */
    display: grid;
    grid-template-rows: auto;
    grid-column-gap: 1em;
    margin-right: 1em;
    font-weight: bold;

}
#header .menu_item{
    background-color: black;
    text-decoration: none;
    color: white;
    padding: 5px;
    grid-row: 1;
    align-self: center;
}
#header .menu_item:hover{
    color: deepskyblue;

}