body{
    margin: 0px;
}
.grid-container{
    display: grid;
}
body.grid-container{
    grid-template-columns: 150px auto;
}
body.grid-container>.grid-item{
    background-color: grey;
}
#header{
    grid-column: 1 / 3;
    color: black;
    background-color: deepskyblue;
    padding: 10px;
}

#menu{
    grid-row: 2;
    grid-column: 1;
    background-color: darkcyan;
    height: 500px;
}

#live_content{
    grid-row: 3;
    grid-column: 1 / 3;
    background-color: black;
    color: white;
}


#menu.grid-container{
    grid-template-columns: auto;
    align-content: start;
    padding: 5px;
}
#menu>.grid-item{
}
#menu>div{
    margin: 5px;
    font-weight: bold;
}
#menu>a{
    background-color: skyblue;
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    color: black;
}
#menu>a:hover{
    background-color: deepskyblue;
    color: black;
}
#menu>a:active{
    background-color: deepskyblue;
    color: black;
}

#content{
    padding: 10px;
}

h1{
    margin: 0;
}

button{
    color: black;
    background-color: skyblue;
    border-style: solid;
    border-width: 3px;
    border-color: deepskyblue;
    padding: 10px;
    margin: 10px;
}

button:hover{
    cursor: pointer;
    background-color: deepskyblue;
}


