# Required for bcrypt and cryptography on Debian:
# sudo apt-get install build-essential libssl-dev libffi-dev python3-dev
cryptography
bcrypt

# required for pyjamas
Flask
flask_security
flask_sqlalchemy
pymysql

markdown2
pygments
sqlalchemy
python-dotenv

# required for models
datetime
pytz
sqlalchemy
datetime
bson
numpy
scipy