<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css')}}">
<div id="header">
    <div id="title">
        <a id="title-logo" href="/"><img src="/static/images/favicon.png"></a>
        <a id="title-text" href="/">
            <h1>Pyjamas</h1>
        </a>
    </div>
    <div id="menu">
        <a class="menu_item" href="/">Home</a>
        {% if loggedin %}
        <a class="menu_item" href="/agents">Agents</a>
        {% endif %}
        <a class="menu_item" href="https://github.com/schmocker/Pyjamas/wiki" target="_blank">Wiki</a>
        {% if loggedin %}
        <a class="menu_item" href="/logout">Logout</a>
        {% else %}
        <a class="menu_item" href="/login">Login</a>
        {% endif %}
        <a class="menu_item" href="/agents">Agents</a>
    </div>
</div>