<div id="header" class="grid-item grid-container">
    <div id="title" class="grid-item, grid-container">
        <a id="title-logo" class="grid-item" href="/"><img src="/static/images/favicon.png"></a>
        <a id="title-text" class="grid-item" href="/">
            <h1>Pyjamas</h1>
        </a>
    </div>
    <div id="menu" class="grid-item grid-container">
        <a class="menu_item grid-item" href="/">Home</a>
        {% if loggedin %}
        <a class="menu_item grid-item" href="/agents">Agents</a>
        {% endif %}
        <a class="menu_item grid-item" href="/doc">Documentation</a>
        {% if loggedin %}
        <a class="menu_item grid-item" href="/logout">Logout</a>
        {% else %}
        <a class="menu_item grid-item" href="/login">Login</a>
        {% endif %}
    </div>
</div>