<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pyjamas</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/agent.css')}}">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        /*$("add_agent").addEventListener("submit", await myFunction());
        async function myFunction() {
            alert("The form was submitted");
        }*/


        async function remove_agent(id) {
            console.log("add");
            let data = await $.post("/agents", {
                'fnc': 'remove_agent',
                'data': JSON.stringify({'agent': id})
            });
            location.reload();
        }
        async function add_agent() {
            let name = $("#agent_name").val();
            let data = await $.post("/agents", {
                'fnc': 'add_agent',
                'data': JSON.stringify({'agent_name': name})
            });
            location.reload();
        }

        function edit_agent(id) {
            $(location).attr('href', '/agents?agent_id=' + id );
        }



    </script>
</head>
<body class="grid-container">
{% include 'imports/header.html' %}
<div id="content">
    <h2>Agents</h2>
    <div class="agents agents-grid-container">
        {% for agent in agents %}
        <div class="agent agents-grid-item">
            <img src="static/images/icons/remove.png" class="remove" onclick="remove_agent({{agent.id}});">
            <img src="static/images/icons/edit.png" class="edit" onclick="edit_agent({{agent.id}});">
            <div class="name">{{agent.name}}</div>

        </div>
        {% endfor %}
        <div class="agent agents-grid-item">
            <form method="post" action="" id="add_agent" onsubmit="add_agent()">
                <label>Add Agent:</label>
                <input id="agent_name" name="agent_name" type="text" placeholder="agent_name" required/>
                <input type="submit">
            </form>
        </div>
        </ul>
    </div>
</div>
</body>
</html>