:root {
    --hover-color: darkturquoise;
}


/* wsg grid*/
#wsg{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 400px 40px auto;
    justify-content: stretch;
    align-content: stretch;
    max-width: 100%;
}
#wsg.full-screen{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    grid-template-rows: auto 40px 0;
}
#wsg #wsg_drawing{
    grid-row: 1;
    position: relative;
    width: 100%;
    align-self: stretch;

    background-color: cadetblue;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

#wsg #wsg_menu{
    grid-row: 2;
    margin: 5px;
}
#wsg #wsg_menu img{
    height: 30px;
    margin-left: 5px;
    cursor: pointer;
}

#wsg #view{
    align-self: stretch;
    justify-self: stretch;
    grid-row: 3;
    background-color: #4677f8;

    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr auto;
}

/******* view ********/
/* properties */
#wsg #view #view_title{
    grid-column: 1/2;
    align-self: center;
    background-color: #4ca078;
    padding: 10px;
    font-size: large;
}
#wsg #view #view_menu{
    background-color: #7aa024;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
}
#wsg #view #view_menu .view_menu_item{
    align-self: center;
    background-color: #63a096;
    padding: 5px;
    cursor: pointer;
}
#wsg #view #view_menu .view_menu_item.active{
    background-color: #376056;
    color: #d4d4d4;
}
#wsg #view #view_content{
    grid-column: 1/3;
    background-color: #00A000;
    padding: 10px;
}

/******* drawing ********/
/* models */
#wsg .main>.model{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#wsg .box{
    fill: rgba(128,128,128,1);
    stroke: gray;
    stroke-width: 3px;
    cursor: move;
}

#wsg .box.active{
    stroke: var(--hover-color);
}

#wsg .box_dragging{
    fill: rgba(128,128,128,0.5);
    stroke: var(--hover-color);
}


#wsg .box_hover{
    stroke: var(--hover-color);
}

#wsg .main>.model>.sizer{
    fill: black;
    cursor: nw-resize;
}
#wsg .main>.model>.name{
    font-size: small;
}
#wsg .main>.model>.sizer:hover{
    fill: var(--hover-color);
}

/* ports */
#wsg .port_name{
    font-size: x-small;
    cursor: move;
}

#wsg .main>.model .port>.arrow{
    cursor: crosshair;
}
#wsg .main>.model .port>.arrow:hover{
    fill: var(--hover-color);
}
#wsg .main>.model .port_choice1{
    font-size: large;
}
#wsg .main>.model .port_selectable{
    fill: green;
}
#wsg .main>.model .port_selectable:hover{
    fill: var(--hover-color);
}

/* connections */
#wsg .connection .line{
    stroke: black;
    stroke-width: 2px;
}
#wsg .connection .line_hover{
    stroke: var(--hover-color);
    stroke-width: 4px;
}



/* context menu */
#wsg #context-menu {
	position: absolute;
	display: none;
	background-color: #888888;
	border-radius: 4px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	min-width: 150px;
	border: 1px solid #d4d4d4;
	z-index:1200;
}
#wsg #context-menu ul {
	list-style-type: none;
	margin: 4px 0px;
	padding: 0px;
	cursor: default;
}
#wsg #context-menu ul li {
	padding: 4px 16px;
}
#wsg #context-menu ul li:hover {
	background-color: #4677f8;
	color: #fefefe;
}





/* Popups */
#wsg  .popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 5vw; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#wsg  .popup .frame {
    background-color: #fefefe;
    margin: auto;
    padding: 10px;
    border: 1px solid #888;
    width: 90%;
    height: 90%;
}

#wsg  .popup #popup_content{
    height: 100%;
    width: 100%;
    display: grid;
    align-content: stretch;
    justify-content: stretch;
    grid-template-rows: 35px auto;
    grid-template-columns: auto auto 20px;
    grid-column-gap: 10px;
}



#wsg .popup #popup_content>#popup_header{
    align-self: center;
    justify-self: start;
}
#wsg .popup #popup_content>#popup_buttons{
    align-self: center;
    justify-self: end;
}
#wsg .popup #popup_content>#popup_close{
    align-self: center;
    justify-self: right;
}

#wsg .popup #popup_content>#popup_buttons>img:hover,
#wsg .popup #popup_content>#popup_buttons>a:hover,
#wsg .popup #popup_content>#popup_close:hover,
#wsg .popup #popup_content>#popup_close:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


#wsg .popup #popup_content>#popup_body{
    grid-column: 1 / span 3;
    align-self: stretch;
    justify-self: stretch;
    border-top: solid 1.5px #ccc;
    padding-top: 5px;
}
#wsg .popup #popup_content>#popup_body>iframe{
    border: solid 1px #eee;
}
