:root {
    --hover-color: darkturquoise;
}



#wsg{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: minmax(500px,1fr) 60px;

    background-color: darkturquoise;
}
#wsg.full-screen{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#wsg_drawing{
    grid-row: 1;
    position: relative;
    width: 100%;
    height: 100%;

    background-color: cadetblue;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
}

#wsg .main>.model{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#wsg .main>.model>.box{
    fill: grey;
    stroke: grey;
    stroke-width: 3;
    cursor: move;
}
#wsg .main>.model>.box:hover{
    stroke: var(--hover-color);
}
#wsg .main>.model>.box_draged{
    stroke: black;
}
#wsg .main>.model>.sizer{
    fill: black;
    cursor: nw-resize;
}
#wsg .main>.model>.name{
    font-size: small;
}
#wsg .main>.model>.sizer:hover{
    fill: var(--hover-color);
}
#wsg .main>.model .port>.port_name{
    font-size: x-small;
}
#wsg .main>.model .port>.arrow{
    cursor: crosshair;
}
#wsg .main>.model .port>.arrow:hover{
    fill: var(--hover-color);
}
#wsg .main>.model .port_choice1{
    font-size: large;
}
#wsg .main>.model .port_selectable{
    fill: green;
}
#wsg .main>.model .port_selectable:hover{
    fill: var(--hover-color);
}
#wsg .main>.connection>.line{
    stroke: black;
    stroke-width: 2;
}
#wsg .main>.connection>.line_hover{
    stroke: var(--hover-color);
    stroke-width: 4;
}







.context-menu {
	position: absolute;
	display: none;
	background-color: #888888;
	border-radius: 4px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	min-width: 150px;
	border: 1px solid #d4d4d4;
	z-index:1200;
}
.context-menu ul {
	list-style-type: none;
	margin: 4px 0px;
	padding: 0px;
	cursor: default;
}
.context-menu ul li {
	padding: 4px 16px;
}
.context-menu ul li:hover {
	background-color: #4677f8;
	color: #fefefe;
}





/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
